@import './colors/gruvbox_dark.scss'
@import './scss/time.scss'
@import './scss/volume.scss'

* {
    all: unset;
    font-family:  'Noto Sans Mono', monospace;
    color: $fg;
}

tooltip  {
    background-color: $bg3;
    border: 1px solid $bg2;
    border-radius: 5%;
}

// Context-menu ??
menu {
    background-color: $bg3;
    border: 1px solid $bg2;
    border-radius: 5%;
}

menuitem{
    padding: 3px 8px;
}

menuitem:hover {
    background-color: $bg2;
}

.bar {
    background-color: $bg0_h;
}

.bar_top {
    margin-top: 5px;
}

.bar_bottom {
    margin-bottom: 10px;
}