$bg0_h: #1d2021;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4 : #7c6f64;
$gray: #928374;
$orange: #d65d0e;
$red: #fb4934;
$green: #b8bb26;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$fg: #ebdbb2;
